@use "../utils/mixins" as *;
@use "../variables/colors" as *;

header {
  z-index: 890;
  width: 100%;
  position: fixed;
  max-width: 500px;
  transform: translateX(-50%);
  left: 50%;
  top: 0;
  background: $white;

  .header-inner.new {
    width: 100%;
    margin: 0 auto;
    height: 56px;
    text-align: center;
    position: relative;
    .product__top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 8px 9px 8px 10px;
      min-height: 44px;
      height: 56px;
      box-sizing: border-box;

      .head-logo {
        margin-left: 10px;

        a {
          width: 100%;
          height: 100%;
          img {
            max-width: 100%;
            vertical-align: top;
          }
        }
      }

      .action-box {
        font-size: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        a {
          display: inline-block;
          padding: 8px;
        }
      }

      .action-box,
      .anchor-btn {
        display: flex;
        align-items: center;
        gap: 12px;

        a {
          + a {
            margin-left: 0;
          }
        }
      }
    }

    &.sub {
      box-shadow: 0px 4px 12px 0px #00000014;

      .product__top {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        padding: 16px 18px;
        .anchor-btn,
        .action-box {
          position: absolute;
          top: 16px;

          a {
            display: inline-block;
            padding: 0;
            width: 24px;
            height: 24px;
            box-sizing: border-box;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }
        h2 {
          text-align: center;
        }

        .anchor-btn {
          left: 18px;
          /* pub 250219 :: 홈 버튼 간격 추가 */

        }
        .action-box {
          right: 16px;
        }
      }
    }

    &.title {
      padding-top: 0;
      padding-top: 0;
      box-shadow: 0px 4px 12px 0px #00000014;

      .product__top {
        justify-content: center;
        align-items: center;
        padding: 17px 18px;
      }
    }
  }
}
