@use "../utils/mixins" as *;
@use "../variables/colors" as *;

.accordion {
  max-width: 500px;
  margin: 0 auto;
  width: 100%;
  &-item {
    border-radius: 5px;
    + .accordion-item {
      margin-top: 20px;
    }
  }
  &-button {
    width: 100%;
    padding: 4px 6px 4px 4px;
    text-align: left;
    font-weight: bold;
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
    color: $Neutral500;
    @include fontStyle(14px, 140%, 700);
    border-bottom: 1px solid $Neutral100;
    &::after {
      content: "";
      width: 16px;
      height: 16px;
      // 2025 QA 수정 - 지라카드 번호 RRMH-1830 -이윤미
      background: url(../image/chevron-down.svg) no-repeat center;
      background-size: 16px;
      display: block;
      position: absolute;
      right: 4px;
      top: 50%;
      transform: translateY(-50%);
    }
    &.active {
      display: block;
      border-bottom: none;
      &::after {
        content: "";
        width: 16px;
        height: 16px;
        // 2025 QA 수정 - 지라카드 번호 RRMH-1830 -이윤미
        background: url(../image/chevron-up.svg) no-repeat center;
        background-size: 16px;
      }
      + .accordion-content {
        display: block;
      }
    }
  }
  &-content {
    display: none;
    margin-top: 2px;
  }
}

.tag__item {
  &.agree {
    .item__title {
      + .agree-box.only-check {
        padding: 16px 0 0;
      }
    }
  }
}

.agree-box {
  &.only-check {
    .agree-all {
      .checkbox {
        align-items: center;
      }
    }
    .agree-detail {
      padding-left: 4px;
      li {
        &:after {
          display: none;
        }
        .checkbox {
          input {
            & + label {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              flex: 1;
            }
          }
        }
      }
    }
  }
  .agree-all {
    padding-left: 4px;
    padding-bottom: 8px;
    margin-bottom: 12px;
    border-bottom: 1px solid $Neutral150;
    .checkbox {
      input {
        + label {
          color: $Neutral400;
          @include fontStyle(16px, 140%, 700);
        }
      }
      input[type="checkbox"]:checked {
        + label {
          color: $black;
          @include fontStyle(16px, 140%, 700);
        }
      }
    }
  }
  .agree-detail {
    padding-left: 4px;
  }
  .checkbox {
    margin: 0;
    label {
      margin-top: 0;
      color: $Neutral300;
      //스타일 수정 250326
      @include fontStyle(14px, 140%, 400);
      /* 워드앤코드 250312 css 오류 작업 */
      &:before {
        display: none;
      }
      /* // 워드앤코드 250312 css 오류 작업 */
    }
    /* 워드앤코드 250312 css 오류 작업 */
    input[type="checkbox"] {
      display: inline-block;
    }
    /* // 워드앤코드 250312 css 오류 작업 */
    input[type="checkbox"]:checked {
      + label {
        //스타일 수정 250326
        color: $Neutral500;
        //이윤미 SL5 수정
        @include fontStyle(14px, 140%, 500);
        /*  워드앤코드 250312 css 오류 작업 */
        position: unset;
        /*  //워드앤코드 250312 css 오류 작업 */
      }
    }
    &.horizontal {
      display: flex;
      label {
        padding-left: 8px;
      }
    }
  }

  .agree-detail {
    li {
      position: relative;
      + li {
        margin-top: 10px;
      }
      &:last-child {
        margin-bottom: 0;
      }
      p {
        position: relative;
        font-size: 13px;
        font-weight: 400;
        color: #888;
        line-height: 18.2px;
        letter-spacing: -0.26px;
        padding-left: 42px;
        margin-top: 6px;
        &:before {
          content: "";
          display: inline-block;
          position: absolute;
          top: 8px;
          left: 33px;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: #888;
        }
      }
      &.checked {
        border: 1px solid #f8d5d5;
        background: rgba(255, 235, 237, 0.2);
        .checkbox label {
          color: #333;
          line-height: 18.2px;
          letter-spacing: -0.26px;
        }
      }

      &:after {
        content: "";
        background: #fff url(../image/chevron-right-12.svg) no-repeat 90%
          50%;
        background-size: cover;
        width: 12px;
        height: 12px;
        display: block;
        position: absolute;
        right: 4px;
        top: 4px;
        cursor: pointer;
      }
    }
  }
}


// 메인배너 슬라이드
.main__swiper {
  position: relative;
  margin: 0;
  padding: 0 !important;
  box-sizing: border-box;
  overflow: hidden;
  display: block;
  touch-action: pan-y;
  z-index: 1;

  .swiper-wrapper {
    .swiper-slide {
      width: 100% !important;
      border-radius: 0;

      height: auto; // 기존 100px에서 override됨
      // RRMH-2004 슬라이드 스타일
      a {
        display: inline-block;
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height:100%; //0716 이미지 수정
          max-height: 157.22px; //넓이 500px 일때 세로 비율
          object-fit: cover;
        }
      }
    }
  }
  .swiper-pagination {
    position: absolute;
    bottom: 12px !important;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateZ(0);
    transition: opacity 0.3s;
    z-index: 10;

    .swiper-pagination-bullet {
      width: 6px;
      height: 6px;
      background: #420d0e;
      opacity: 0.1;
      margin: 0 3px;

      &.swiper-pagination-bullet-active {
        opacity: 1;
      }
    }

    &.main-banner {
      position: absolute;
      right: 20px;
      bottom: 8px !important; // override
      left: auto;
      width: 32px;
      background: rgba(51, 51, 51, 0.5);
      border-radius: 12px;
      padding: 2px 8px;
      @include fontStyle(10px, 140%, 400);
      color: $white;
      margin-right: 0;
      z-index: 10;
    }
  }
}

// 신규 상품 카드
.other__swiper.new {
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;

  .swiper-wrapper {
    width: auto;
    .swiper-slide {
      position: relative;
      width: auto;
      height: auto;
      margin-right: 8px;
      a {
        display: block;
        border-radius: 4px;
        overflow: hidden;
        width: 140px;
        height: 100px;
        img {
          display: block;
          -o-object-fit: cover;
          object-fit: cover;
          max-width: 100%;
          max-height: 100%;
          width: 140px;
          height: 100px;
        }
        .state {
          position: absolute;
          top: 8px;
          left: 8px;
          margin-right: 4px;
          vertical-align: middle;
          z-index: 10;
          border-radius: 4px;
          color: $white;
          padding: 2px 6px;
          @include fontStyle(11px, 140%, 400);

          &.is-sell {
            background: $primary900;
          }

          &.is-buy {
            background: $primary400;
          }
        }
      }

      &.no-img {
        a {
          display: block;
          position: relative;
          background: $Neutral50;
          width: 140px;
          height: 100px;

          &:after {
            content: "";
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include backgroundImage(60px, 60px, "box.png");
          }
        }
      }
      .item__subject {
        @include fontStyle(14px, 140%, 700);
        color: $Neutral500;
        margin-top: 8px;
        width: 140px;
        // style.css상쇄
        padding: 0;
      }
    }
  }

  &.news {
    .swiper-wrapper {
      .swiper-slide {
        position: relative;
        width: 200px !important;
        height: 132px !important;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
        a,
        img {
          width: 100%;
          height: 100%;
        }

        a {
          display: inline-block;
          position: relative;
          z-index: 2;
          //   RRMH-2004 뉴스카드 클릭 안되는 문제 수정
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            width: 200px;
            height: 132px;
            background-color: #000;
            opacity: 0.5;
            z-index: 1;
          }
        }

        .state {
          background-color: $white;
          color: $Neutral400;
          @include fontStyle(11px, 140%, 500);
          padding: 2px 6px;
          z-index: 2;
        }

        .item__subject {
          @include fontStyle(16px, 140%, 700);
          color: $white;
          position: absolute;
          bottom: 12px;
          left: 12px;
          width: 100%;
          max-width: 176px;
          max-height: 51px;
          display: -webkit-box;
          -webkit-line-clamp: 2; /* 표시할 줄 수 */
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          z-index: 2;
        }
      }
    }
    .swiper-pagination.new {
      margin-top: 20px;
      bottom: 0;
      .swiper-pagination-bullet {
        background-color: $primary900;
        opacity: 0.2;
        width: 6px;
        height: 6px;
        margin: 0 6px 0 0;
      }
      .swiper-pagination-bullet-active {
        opacity: 1;
        width: 12px;
      }
    }
  }

  &.dictionary {
    .swiper-slide {
      width: 92px !important;

      a {
        width: 92px;
        height: 92px;
        border-radius: 8px;
        box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
      }

      .item__subject {
        width: 92px;
        @include fontStyle(14px, 140%, 700);
        color: $Neutral400;
        text-align: center;
      }
    }
  }
}

// 커뮤니티 글 목록
.board-section {
  &.new {
    background-color: #fff;

    .board-top {
      display: flex;
      justify-content: space-between;
      background: transparent;
      margin-top: 0;
      padding: 24px 0 8px;

      img {
        width: 18px;
        height: 22px;
        object-fit: contain;
        margin-right: 4px;
      }

      .tit {
        line-height: 22px;
        font-size: 18px;
        font-weight: 700;
        color: #000;
      }

      .btn-wrap {
        .more-btn {
          display: inline-block;
          line-height: 22px;
          font-size: 14px;
          font-weight: 700;
          color: #dd2c2f;
        }
      }
    }

    .board__item {
      border-bottom: 1px solid #eee;
      padding: 12px 0 10px;

      &:last-of-type {
        border-bottom: none;
        padding-bottom: 0;
      }

      .board__info {
        display: flex;
        align-items: center;
        border-bottom: none;
        padding: 0;

        .board__cate {
          @include fontStyle(12px, 140%, 700);
          margin-bottom: 4px;

          &.org {
            color: #fa7c21;
          }

          &.red {
            color: #e45659;
          }
        }

        span {
          font-size: 12px;
          margin-bottom: 4px;
        }

        .level,
        .name {
          position: relative;
          color: #888;

          &:before {
            content: "";
            display: inline-block;
            width: 1px;
            height: 12px;
            background-color: #cacaca;
            margin: 0 3.5px;
            vertical-align: text-bottom;
          }
        }
      }

      .board__tit_cont_wrap {
        .board__title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          @include fontStyle(16px, 140%, 500);
          color: #333;

          span {
            overflow: hidden;
            width: calc(100% - 20px);
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }

        img {
          min-width: 20px;
        }

        .board__cont {
          width: calc(100% - 2px);
          @include fontStyle(12px, 140%, 400);
          color: #888;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          margin-top: 1px;
        }
      }

      &.read {
        .board__tit_cont_wrap {
          .board__title {
            color: #888;
          }
        }
      }

      .icon {
        margin-left: 4px;
        margin-top: -1px;
      }
    }
    .board-bot {
      display: flex;
      align-content: center;
      justify-content: space-between;
      margin-top: 6px;
      @include fontStyle(12px, 140%, c 400);
      color: #888;

      .board__dashboard {
        display: flex;
        align-items: center;
        gap: 0 8px;

        span {
          position: relative;
          display: flex;
          align-items: center;

          vertical-align: middle;

          img {
            margin-right: 4px;
          }
        }
      }
    }
  }
}
// RRMH-2679 ltv 롤링배너 컴포넌트 추가
.ltv__swiper {
  width: 100%;
  margin-bottom: 8px;
  overflow: hidden;
 
  .swiper-slide {
    position: relative;
    width: 100%;
    height: 52px;
    box-sizing: border-box;
    padding: 11px 16px;
    border-radius: 8px;
    background-color: $Neutral100;
    &:after {
      position: absolute;
      top: 0px;
      right: 0px;
      content: "";
      display: inline-block;
      @include backgroundImage(112px, 100%, "ltv_bg.png");
      background-position: 0 0;
    }
    .title {
      @include fontStyle(16px, 100%, 700);
      color: $black;
      margin-bottom: 2px;
      strong {
        color: $primary500;
      }
    }

    .date {
      @include fontStyle(10px, 100%, 500);
      color: $Neutral300;
    }
  }
}

/* 20250514 미트박스지수 배너 추가 */
.swiper.index__swiper {
  margin: 12px 20px 0;
  box-sizing: border-box;
  overflow: hidden;

  .index-box {
    padding: 8px 16px 7px;
    border-radius: 8px;
    background: $Neutral50;
    box-sizing: border-box;
  
    .index-sub {
      @include fontStyle(11px, 140%, 500);
      color: $Neutral400;
    }
  
    .point-box {
      display: flex;
      justify-content: space-between;
      line-height: 140%;
  
      .now {
        @include fontStyle(16px, 140%, 700);
        color: $black;
      }
  
      .day-before {
        display: flex;
        align-items: center;
        gap: 4px;
        @include fontStyle(13px, 140%, 500);
        color: $Neutral400;
  
        .day-before-sub {
          color: $Neutral400;
        }
  
        .point {
          display: flex;
          align-items: center;
          color: $Neutral400;
  
          &:before {
            content: '';
            position: relative;
            display: inline-block;
            width: 9px;
            height: 6px;
            @include backgroundImage(9px, 6px, "polygon_gray.svg");
            margin-right: 2px;
          }
  
          .point-differ {
            @include fontStyle(11px, 140%, 400);
            color: $Neutral300;
            margin-left: 2px;
          }
        }
      }
    }
  
    /* 지수 상승 */
    &.up {
      background: $primary0;
  
      .day-before .point {
        color: $primary500;
  
        &:before {
          @include backgroundImage(9px, 6px, "polygon_red.svg");
        }
        .point-differ {
            color: $primary500;
          }
      }

    
    }
  
    /* 지수 하락 */
    &.down {
      background: $blue50;
  
      .day-before .point {
        color: $info;
  
        &:before {
          @include backgroundImage(9px, 6px, "polygon_blue.svg");
        }

        .point-differ {
          color: $info;
        }
      }
    }
  }
  
}

