@use "../utils/mixins" as *;
@use "../variables/colors" as *;

.dimed {
  display: none;
  position: fixed;
  z-index: 896;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  text-indent: -1900px;
  background: rgba(0, 0, 0, 0.5);

  &.active {
    display: block;
  }
}

.toast-msg {
  display: flex;
  align-items: center;
  gap: 12px;
  position: fixed;
  top: 76px;
  left: 50%;
  bottom: initial;
  transform: translateX(-50%);
  width: calc(100% - 40px);
  max-width: 460px;
  padding: 16px 24px 16px 16px;
  background: rgba(51, 51, 51, 0.9);
  border-radius: 8px;
  box-sizing: border-box;
  line-height: 22px;
  z-index: 896;
  opacity: 0;

  img {
    width: 24px;
    height: 24px;
  }
  span {
    color: $white;
    @include fontStyle(16px, 22px, 400);
  }

  &.active {
    animation: fade-out 3s ease-out forwards;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    pointer-events: auto;
  }

  100% {
    opacity: 0;
    pointer-events: none;
  }
}

//   타이틀이 없는 팝업
.pop__detail.new {
  display: none;
  z-index: 896;
  position: fixed;
  width: calc(100% - 40px);
  margin: 0 20px;
  top: 50%;
  transform: translate(-50%, -50%);
  left: calc(50% - 20px);
  max-width: 460px;
  border-radius: 12px;
  height: auto;
  min-height: 50px;
  overflow: hidden;
  background-color: $white;
  box-shadow: 0px 4px 12px 0px #00000014;
  padding: 28px 20px 20px;
  box-sizing: border-box;


  &.is-on { 
    display: block;
  }
  .popup__cnt {
    margin: -1px 0 0 0;
    background: $white;
    text-align: center;
    // style.css충돌작업
    padding: 0;

    strong {
      @include fontStyle(18px, 25.2px, 700);
      display: block;
    }
    .popup__title {
      margin-bottom: 12px;
      strong {
        @include fontStyle(20px, 24px, 700);
      }
    }

    .popup__cont {
      @include fontStyle(14px, 19.6px, 400);
      color: $Neutral400;
      // style.css 충돌작업
      padding: 0;

      .bank-logo {
        display: inline-block;
        width: 16px;
        height: 16px;
        img {
          vertical-align: middle;
          width: 16px;
          height: 16px;
        }
      }

      .notice-text {
        display: block;
        margin-top: 8px;
        @include fontStyle(13px, 18.2px, 400);
        color: $Neutral300;
      }

    span {
        // display: block;
    }

      input, textarea {
        width: 100%;
        margin-top: 20px;
        // style.css 충돌작업
        height: 44px;
        border: 1px solid $Neutral200;
        border-radius: 8px;
      }
    }
  }

  .popup__btn {
    width: 100%;
    padding: 0 14px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;
    margin-top: 20px;

    // s- style.css 충돌작업
    padding: 0;
    &.group {
      padding: 0 14px;
    }
    // e - style.css 충돌작업
    .btn {
      display: inline-block;
      width: 100%;
      transition: 0.2s all ease-in;
      border-radius: 8px;
      padding: 9px 0;
      @include fontStyle(16px, 140%, 700);
      
      // style.css 충돌작업

      height: 40px;

      &.btn-cancel {
        border: 1px solid $Neutral200;
        color: $Neutral300;
        background: $white;
      }
      &.btn-default {
        border: 1px solid $primary500;
        color: $white;
        background-color: $primary500;
      }
    }
  }

  &.is-on {
    display: block;
  }
}

//필터모달창
.main .filter {
  // style.css 상쇄
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  // style.css 상쇄
  padding: 0;
  a {
    margin-right: 4.5px;
  }

  span {
    position: relative;
    padding-right: 11px;
    @include fontStyle(14px, 140%, 500);
    color: $Neutral400;

    &:after {
      content: "";
      width: 2px;
      height: 2px;
      border-radius: 50%;
      background: #888;
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 5px;
    }

    &:last-child {
      padding-right: 0;

      &:after {
        display: none;
      }
    }
  }
}

//약관동의 팝업
.modal-toast {
  width: 100%;
  max-width: 500px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  opacity: 0;
  animation-name: toast-down;
  z-index: 999;
  background-color: $white;
  border-radius: 24px 24px 0px 0px;

  &.is-on {
    opacity: 1;
    animation-name: toast-up;
  }

  .modal-content {
    background-color: #fff;
    border-radius: 28px 24px 0 0;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.08);
    .modal-tit {
      margin-bottom: 8px;
      strong {
        @include fontStyle(16px, 140%, 700);
        color: #000;
      }
    }

    .modal-cont {
      text-align: center;
      span {
        @include fontStyle(14px, 140%, 400);
        color: $Neutral400;
      }
    }
  }
  .modal-toast-btn {
    gap: 8px;
    button {
    //   margin-top: 32px;
      width: 100%;
      border-radius: 8px;
      height: 48px;
      @include fontStyle(16px, 140%, 700);
      color: $white;
      background-color: $primary500;
    }
  }

  &.agree {
    position: fixed;
    bottom: 0;
    left: 50%;
    padding-top: 24px;
    transition: transform 0.3s ease 0s;
    transform: translate(-50%, 100%);
    opacity: 0;
    width: 100%;
    max-width: 500px;
    max-height: 100%;
    background-color: #fff;
    border-radius: 24px 24px 0 0;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.08);
    outline: none !important;
    word-break: break-all;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    z-index: 900;
    box-sizing: border-box;
    .btn__close {
      position: absolute;
      top: 24px;
      right: 24px;
    }

    &.is-on {
      opacity: 1;
      animation-name: toast-up;
    }

    &.is-off {
      opacity: 0;
      animation-name: toast-down;
    }

    .modal-content {
      height: 671px;
      overflow-y: scroll;
      box-sizing: border-box;
      padding: 20px;
      // style.css 충돌작업
      background-color: none;
      border-radius: 0;
      box-shadow: none;

      .term {
        margin-bottom: 28px;
        padding: 0 4px;
        .term-tit {
          @include fontStyle(16px, 140%, 700);
          color: $Neutral500;
          margin-bottom: 12px;
        }
        .term-cont {
          @include fontStyle(14px, 140%, 400);
          color: $Neutral400;

          p {
            margin-bottom: 8px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  &.modal-sorting {
    .modal-content {
      &.ai {
        padding: 20px 20px 20px 24px;
        height: auto;
        box-sizing: border-box;
        .datepicker-input-wrap {
          display: flex;
          border-radius: 8px;
          border: 1px solid #e8e8e8;
          background: #fff;
          height: 40px;
          input {
            width: calc(50% - 22px);
            height: 100%;
            padding: 0;
            color: #575757;
            border: none;
            line-height: 38px;
            font-weight: 500;
          }
          .slash {
            width: 44px;
            line-height: 38px;
          }
          > * {
            flex-shrink: 0;
            text-align: center;
          }
        }

        .sorting-list {
          ul {
            margin: 0 4px;
            li {
              margin-top: 24px;

              &:first-child {
                margin-top: 0;
              }

              .tit {
                padding-bottom: 2px;
                display: block;
                text-align: center;
                font-weight: 500;
                font-size: 12px;
                color: #575757;
                margin-bottom: 12px;
              }

              .btn {
                width: 100%;
                display: flex;
                background-color: #f5f5f5;
                border-radius: 8px;
                letter-spacing: -0.28px;

                button {
                  width: 100%;
                  padding: 0;
                  color: #888;
                  background-color: #f5f5f5;
                  border: 1px solid #f5f5f5;
                  border-radius: 8px;
                  line-height: 38px;
                  font-size: 14px;

                  &.active {
                    color: #e45659;
                    background-color: #fff;
                    border-color: #e45659;
                    border-radius: 8px;
                    font-weight: 800;
                  }
                }
              }
            }
          }
        }

        .option {
          display: flex;
          justify-content: center;
          padding: 32px 0;
          .checkbox {
            margin: 0;
            label {
              width: 100%;
              padding-left: 4px;
              font-size: 14px;
              @include fontStyle(14px, 140%, 500);
              color: $Neutral400;
            }
          }
        }

        .modal-toast-btn {
          padding-bottom: 0;
          margin-top: 0;
          button {
            width: 100%;
          }
        }
      }
    }
    // &.only-data {
    //   &.is-on {
    //     .modal-content {
    //       display: block !important;
    //     }
    //   }
    //   .modal-content {
    //     display: none !important;
    //   }
    //   .datepicker.datepicker-dropdown {
    //     top: initial !important;
    //     bottom: 0 !important;
    //     width: calc(100% - 38px) !important;
    //     opacity: 1 !important;
    //     z-index: 9999 !important;
    //     display: block !important;
    //     &:before {
    //       content: "";
    //       display: inline-block;
    //       position: absolute;
    //       left: -19px;
    //       bottom: 0;
    //       width: calc(100% + 40px);
    //       // min-width: 360px;
    //       height: 427px;
    //       padding: 12px 19px 0;
    //       box-sizing: border-box;
    //       border-top-left-radius: 24px;
    //       border-top-right-radius: 24px;
    //       background-color: $white;
    //       z-index: -1;
    //       opacity: 1 !important;
    //     }
    //   }

    //   .datepicker-grid > span.day,
    //   .days-of-week > span.dow {
    //     width: calc(100% / 7);
    //   }
    //   .datepicker-header .datepicker-controls .button,
    //   .datepicker-title {
    //     font-size: 14px;
    //   }
    // }
  }
  &.modal-notice {
    position: fixed;
    bottom: 0;
    left: 50%;
    padding-top: 24px;
    transition: transform 0.3s ease 0s;
    transform: translate(-50%, 100%);
    opacity: 0;
    width: 100%;
    max-width: 500px;
    max-height: 100%;
    background-color: #fff;
    border-radius: 24px 24px 0 0;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.08);
    outline: none !important;
    word-break: break-all;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    z-index: 900;
    box-sizing: border-box;
    margin-bottom: 0;
    .btn__close {
      position: absolute;
      top: 24px;
      right: 24px;
    }

    &.is-on {
      opacity: 1;
      animation-name: toast-up;
    }

    &.is-off {
      opacity: 0;
      animation-name: toast-down;
    }

    .modal-content {
      height: 671px;
      overflow-y: scroll;
      box-sizing: border-box;
      padding: 20px;
      // style.css 충돌작업
      background-color: none;
      border-radius: 0;
      box-shadow: none;

      .term {
        margin-bottom: 28px;
        padding: 0 4px;
        .term-tit {
          @include fontStyle(16px, 140%, 700);
          color: $Neutral500;
          margin-bottom: 12px;
        }
        .term-cont {
          @include fontStyle(14px, 140%, 400);
          color: $Neutral400;

          p {
            margin-bottom: 8px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
.notice {
  &.modal {
    &::before {
      //250411 손석호 -2px -> 1.5px 수정
      margin-top: -1.5px;
    }
    a {
      border-bottom: none;
      display: block;
      position: relative;
      width: 100%;
      @include fontStyle(13px, 140%, 700);
      &:after {
        content: "";
        background: #fff url(/assets/image/chevron-right-888.svg) no-repeat 90%
          50%;
        background-size: cover;
        width: 12px;
        height: 12px;
        display: block;
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
      }
    }
  }
}
@keyframes toast-up {
  0% {
    transform: translate(-50%, 100%);
  }

  100% {
    transform: translate(-50%, 0px);
  }
}

@keyframes toast-down {
  0% {
    transform: translate(-50%, 0px);
  }

  100% {
    transform: translate(-50%, 100%);
  }
}
