@use "../main.scss" as *;

/* BP2-4 지역 선택 페이지 스타일 */
.content.new {
  .main.scroll-zone {
    padding-top: 30px;
    padding-bottom: 20px;
    height: 100%;
    box-sizing: border-box;

    // 단계 표시
    .step {
      @include fontStyle(14px, 140%, 500);
      color: $Neutral300;
      margin-bottom: 12px;

      .present {
        font-weight: 700;
        color: $primary900;
      }
    }

    // 선택 제목
    .choice_title {
      @include fontStyle(18px, 140%, 700);
      color: $black;
      margin-bottom: 20px;

      &.mb-0 {
        margin-bottom: 0;
      }
    }

    // 선택 설명 텍스트
    .choice_txt {
      @include fontStyle(11px, 140%, 500);
      color: $Neutral300;
      padding-left: 12px;
      margin-top: 4px;
      position: relative;

      &:before {
        position: absolute;
        content: "*";
        left: 3px;
        top: 0;
      }
    }

    .brand-list {
      margin-bottom: 20px;

      &.country {
        margin-bottom: 71px;
      }

      li {
        padding: 12px;
        @include fontStyle(14px, 140%, 500);
        color: $Neutral500;
        border-bottom: 1px solid $Neutral150;
        height: 44px;
        width: 100%;
        box-sizing: border-box;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;

        img {
          display: inline-block;
          height: 12px;
          width: 16px;
        }

        span {
          display: inline-block;
        }
      }
    }

    // 입력 래퍼
    .input-wrap {
      margin-bottom: 4px;

      .item__input {
        &.search {
          position: relative;

          .text {
            width: 100%;

           
          }

          .btn-search {
            position: absolute;
            top: 11px;
            right: 10px;
            z-index: 10;
            width: 16px;
            height: 16px;
            padding: 0;
            border: none;

            img {
              display: inline-block;
              width: 100%;
              height: 100%;
            }
          }
        }
        .expand-btn {
          border:none;
        }
      }
    }


    // 검색결과 없을 때
    .result-list {
      &.no-data {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(100% - 140px);

        .lottie-box {
            width: 120px;
            height: 120px;
            margin: 0 auto;
        }

        p {
            @include fontStyle(16px, 140%, 400);
            color: $Neutral300;
            text-align: center;
            padding-bottom: 16px;
            margin: 0 auto;
          }

        &.district {
          .no-result {
            margin-top: 0;

          }
        }
      }
    }
  }
}


