@use "../main" as *;


// 버튼 스타일
.btn {
  width: 100%;
  button {
    width: 100%;
  }
  &.btn-full {
    @include fontStyle(16px, 1, 700);
    margin: 0 20px;
    box-sizing: border-box;
    padding: 14px 0;
    width: calc(100% - 40px);
    border-radius: 30px;
    background-color: $primary500;
    color: $white;
  }
}

// 애니메이션 keyframes
@keyframes toast-up {
    0% {
        transform: translate(-50%, 100%);
    }
    100% {
        transform: translate(-50%, 0px);
    }
}

@keyframes toast-down {
    0% {
        transform: translate(-50%, 0px);
    }
    100% {
        transform: translate(-50%, 100%);
    }
}

// 모달 토스트 팝업창
.modal-toast {
    position: fixed;
    bottom: 0;
    left: 50%;
    transition: transform 0.3s ease 0s;
    transform: translate(-50%, 100%);
    width: 100%;
    max-width: 500px;
    max-height: 100%;
    outline: none !important;
    word-break: break-all;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    z-index: 900;

    .btn__close {
        position: absolute;
        top: 24px;
        right: 24px;
    }

    &.is-on {
        animation-name: toast-up;
    }

    &.is-off {
        animation-name: toast-down;
    }

    .modal-content {
        padding: 24px 20px 20px 20px;
        background-color: $white;
        border-radius: 24px 24px 0 0;
        box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.08);
    }

    .modal-tit {
        text-align: center;

        strong {
            display: inline-block;
            @include fontStyle(20px, 24px, 800);
        }
    }

    .input-desc {
        display: flex;
        align-items: center;
        margin-top: 4px;
        position: relative;
        margin-left: 4px;
        padding-left: 15.5px;
        color: $primary500;
        height: auto;
        box-sizing: border-box;
        @include fontStyle(13px, 140%, 400);
        
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 2px;
            @include backgroundImage(13px, 14px, "info-red.svg");
            box-sizing: border-box;
        }
    }

    &.modal-sorting {
        .checkbox {
            margin: 24px 0 32px 0;
            text-align: center;
        }

        .state-action {
            width: 100%;
            box-sizing: border-box;
            position: relative;

            &.is-on {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;

                .expand-box {
                    position: absolute;
                    top: 44px;
                    width: 100%;
                    border: 1px solid $Neutral150;
                }
            }
        }

        .error .state-action {
            border-color: $primary500;
        }

        &.new .modal-toast-btn {
            margin-top: 32px;
        }
    }
}

// 검색창
.item__input.search {
    position: relative;
    z-index: 0;

    &.pt32 {
        padding-top: 32px;

        a.btn-search {
            top: 32px;
        }
    }

    a.btn-search,
    a.btn-close {
        position: absolute;
        top: 0px;
        right: 6px;
        z-index: 10;
        width: 20px;
        height: 20px;
        padding: 12px 6px;
        border: none;

        &:before {
            display: none;
        }
    }

    a.btn-close {
        right: 36px;
        padding: 10px 4px;
    }
}

.input-wrap .item__input .text {
    border-radius: 8px;
    border: 1px solid $Neutral100;
    padding: 11px 12px;
}

// 정렬 리스트
.sorting-list {
    ul {
        margin: 0 4px 12px;
    }

    li {
        * {
            transition: none !important;
        }

        & + li {
            margin-top: 24px;
        }

        .tit {
            display: inline-block;
            width: 100%;
            padding: 0 0 12px;
            color: $Neutral400;
            text-align: center;
            @include fontStyle(12px, 17px, 500);
        }

        .btn {
            display: flex;
            background-color: $Neutral50;
            border-radius: 8px;
            @include letterSpacing(14px);

            button {
                max-width: 100%;
                padding: 0;
                color: $Neutral300;
                background-color: $Neutral50;
                border: 1px solid $Neutral50;
                border-radius: 8px;
                @include fontStyle(14px, 38px, 400);

                &.active {
                    color: $primary400;
                    background-color: $white;
                    border-color: $primary400;
                    border-radius: 8px;
                    font-weight: 800;
                }
            }
        }

        &.error .btn {
            border: 1px solid $primary500;

            button.active {
                border: none;
                color: $Neutral300;
                font-weight: 400;
                background-color: $Neutral50;
                border: 1px solid $Neutral50;
            }
        }
    }

    .checkbox__inline {
        margin-bottom: 12px;
        text-align: center;
    }
}

// 모달 버튼
.popup__btn,
.pop__detail .popup__btn,
.modal-toast-btn {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 16px;
    margin-top: 20px;

    .btn {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
}

// 딤드 배경
.dimed {
    position: fixed;
    z-index: 896;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    text-indent: -1900px;
    background: rgba(0, 0, 0, 0.5);
}

// 상태 액션
.state-action {
    position: relative;
    display: inline-block;
    border: 1px solid $Neutral150;
    border-radius: 8px;
    z-index: 99;

    &.is-on .expand-box {
        display: block;
    }

    .select-btn {
        position: relative;
        z-index: 0;

        .bank-logo {
            margin-right: 6px;
        }

        .bank-name {
            color: $Neutral500;
            @include fontStyle(14px, 1, 400);
        }

        .expand-btn,
        .default-btn {
            @include fontStyle(14px, 22px, 400);
            color: $Neutral500;
            position: relative;
            width: 100%;
            display: inline-block;
            min-width: 86px;
            padding: 11px 50px 11px 12px;
            box-sizing: border-box;

            &.arrow {
                padding: 11px 44px 11px 12px;
                height: 44px;
                box-sizing: border-box;
                font-weight: 500;
            }

            &::placeholder {
                font-weight: 400;
                color: $Neutral300;
            }

            &:after {
                content: "";
                position: absolute;
                right: 16px;
                top: calc(50% - 2px);
                display: block;
                @include backgroundImage(8px, 4px, "ico-arrow-select2.svg");
            }
        }

        .expand-btn {
            &:after {
                content: "";
                position: absolute;
                right: 10px;
                top: 10px;
                display: block;
                @include backgroundImage(24px, 24px, "chevron-gray-down.svg");
            }
        }
    }

    &.is-on .select-btn .expand-btn:after {
        content: "";
        position: absolute;
        right: 10px;
        top: 10px;
        display: block;
        @include backgroundImage(24px, 24px, "chevron-gray-up.svg");
    }

    .expand-box {
        display: none;
        position: relative;
        z-index: 999;
        top: 0;
        left: 0;
        background: $white;
        text-align: left;
        overflow: hidden;

        &:last-child {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }

        a {
            display: block;
            line-height: 1.5;
            @include fontStyle(14px, 1, 400);
            color: $Neutral400;
            padding: 12px;
            word-break: keep-all;

            &:hover,
            &.is-focus,
            &:focus {
                color: $Neutral400;
                background: $Neutral50;
            }
        }
    }
}

// 메인 이미지 백과사전
.content.new {
    padding-top: 56px;
    padding-bottom: 0;
}

.main.scroll-zone {
    padding: 20px 0;

    // 기존 스타일 복원
    .banner-list {
        min-height: 64px;
        margin: 0 auto 12px;
        padding: 20px 20px 0;

        a {
            display: inline-block;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .search-area {
        top: 56px;
        background-color: $white;
        padding: 0 10px 12px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        gap: 5px;
        z-index: 60;

        .input-wrap {
            width: calc(100% - 56px);

            .item__input.search {
                border-color: $Neutral150;
                border-radius: 8px;
                border: 1px solid $Neutral100;
                padding: 0 12px;
                height: 44px;
                box-sizing: border-box;

                .text {
                    @include ellipsis(1);
                    border: none;
                    padding: 0;
                    width: 69.35%;
                    height: 100%;
                }
            }
        }

        .filter {
            padding: 0;

            a {
                display: inline-flex;
                align-items: center;
                gap: 6px;
                @include fontStyle(14px, 1, 500);
                color: $Neutral300;

                img {
                    width: 11px;
                    height: 11px;
                }
            }

            span {
                position: relative;
                padding-right: 11px;
                @include fontStyle(14px, 1, 500);
                color: $Neutral300;

                &::after {
                    content: '';
                    width: 2px;
                    height: 2px;
                    border-radius: 50%;
                    background: $Neutral300;
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 5px;
                }

                &:last-child {
                    padding-right: 0;

                    &::after {
                        display: none;
                    }
                }
            }
        }
    }


    .filter-keywords {
        margin-bottom: 16px;
        background-color: $white;
        z-index: 50;
        overflow: hidden;
        position: initial;

        &.is-sticky {
            padding-top: 12px;
        }

        .keyword__swiper {
            width: 100%;
            touch-action: pan-y;
            box-sizing: border-box;
            height: 32px;

            .swiper-wrapper {
                position: relative;
                width: 1000%;
                height: 100%;
                z-index: 1;
                display: flex;
                transition-property: transform;
                box-sizing: content-box;
            }
            
            .swiper-slide {
                width: auto;
                height: 32px;
                display: inline-flex;
                border-radius: 20px;
                padding: 8px 10px;
                color: $Neutral400;
                align-items: center;
                background-color: $Neutral50;
                box-sizing: border-box;

                a {
                    @include fontStyle(14px, 19.6px, 500);
                    display: flex;
                    align-items: center;
                    color: $Neutral400;
                }

                .close {
                    display: inline-block;
                    box-sizing: border-box;
                    width: 12px;
                    height: 12px;
                    margin-left: 4px;
                    padding: 3.5px;
                }
                
                img.close {
                    padding: 0 3.5px;
                }
            }
        }
    }

    .result-list {
        padding: 12px 20px 0;
        margin-top: -3px;

        &.no-result {
            position: relative;
            height: calc(100vh - 265px);

            span {
                @include fontStyle(16px, 1, 400);
                color: $Neutral300;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        li {
            padding: 12px 0;
            display: flex;
            gap: 8px;
            border-bottom: 1px solid $Neutral100;

            .img-box {
                border-radius: 4px;
                overflow: hidden;
                width: 116px;
            }

            .cont-box {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: calc(100% - 124px);

                .tag-box {
                    margin-bottom: 8px;
                    justify-content: start;
                    gap: 4px;
                    display: flex;
                }

                .tag {
                    display: inline-flex;
                    align-items: center;
                    @include fontStyle(12px, 16.8px, 500);
                    border-radius: 4px;
                    height: 21px;
                    box-sizing: border-box;

                    &.meat {
                        padding: 2px 6px 2px 22px;
                        background-color: $secondary50;
                        color: $secondary900;
                        position: relative;

                        &.beef::before {
                            @include backgroundImage(12px, 14.52px, "meat_1.png");
                        }
                        &.pork::before {
                            @include backgroundImage(12px, 12.5px, "meat_2.png");
                            top: 3px;
                        }
                        &.chicken::before {
                            @include backgroundImage(12px, 13.33px, "meat_3.png");
                        }
                        &.sheep::before {
                            @include backgroundImage(14px, 13.93px, "meat_4.png");
                        }
                        &.other::before {
                            @include backgroundImage(10.4px, 14px, "meat_5.png");
                        }
                        &::before {
                            content: '';
                            display: inline-block;
                            position: absolute;
                            top: 3px;
                            left: 6px;
                        }
                    }

                    &.storage {
                        padding: 2px 6px 2px 22px;
                        position: relative;
                        height: 21px;
                        box-sizing: border-box;

                        &.frozen {
                            color: $info;
                            background: #F2F4FE;
                            &::before {
                                @include backgroundImage(12px, 12.51px, "storage_1.png");
                                top: 4.25px;
                            }
                        }
                        &.cold {
                            color: $success;
                            background: #EBF8EE;
                            &::before {
                                @include backgroundImage(9.82px, 14.5px, "storage_2.png");
                                top: 3.5px;
                            }
                        }
                        &::before {
                            content: '';
                            display: inline-block;
                            position: absolute;
                            left: 6px;
                        }
                    }
                }

                .item-title {
                    @include fontStyle(16px, 22.4px, 700);
                    color: $Neutral500;
                    margin-bottom: 2px;
                }

                .item-info {
                    p {
                        @include fontStyle(13px, 18.2px, 400);
                        margin-bottom: 4px;
                        display: flex;
                        justify-content: space-between;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        span:first-child {
                            color: $Neutral300;
                        }
                        span:last-child {
                            color: $Neutral400;
                            font-weight: 500;
                            width: calc(100% - 52px);
                            @include ellipsis(1);
                            text-align: right;
                        }
                    }
                }
            }
        }
    }

    // 새로 추가된 배너/테이블 스타일
    .banner-area {
        padding-top: 30px;
        padding-left: 0px !important;
        padding-right: 0px !important;
     
        .ie__swiper {
            width: 100%;
            position: relative;
            margin-bottom: 30px;
            padding-top: 20px;
            overflow: hidden;

            .swiper-slide {
                border-radius: 16px;
                width: 240px;
                height: 240px;
                margin-right: 12px;
    
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
    
                &.swiper-slide-active {
                    transform: scale(1.08332);
                }
    
                a {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    border-radius: 16px;
                    overflow: hidden;
                }
            }

            .swiper-pagination {
                margin-top: 21px;
            }
        }

       
    }
}

