@use '../main.scss' as *;

// 팝업 상세 (후기)
.pop__detail.message.new {
  padding: 0;

  .popup__cnt {
    margin: -1px 0 0 0;
    background: $white;
    padding: 28px 20px 20px 20px;
    text-align: center;
  }

  .popup__head {
    margin: 0;
    background: $white;
    text-align: center;
    position: relative;
    width: 100%;
    min-height: 50px;
    box-sizing: border-box;

    h3 {
      @include fontStyle(18px, 140%, 700);
      color: $black;
      border-bottom: 1px solid $Neutral100;
      width: 90%;
      padding: 14px 0 12px 0;
      margin: 0 auto;
    }

    .btn-close {
      position: absolute;
      top: 9px;
      right: 15px;
      padding: 4px;
      width: 36px;
      height: 36px;
      box-sizing: border-box;

      img {
        width: 28px;
        height: 28px;
      }
    }
  }

  .popup__review {
    text-align: center;

    strong {
      color: $Neutral500;
      @include fontStyle(16px, 140%, 700);
    }

    .rating {
      padding: 15px 0;

      a {
        position: relative;
        display: inline-block;

        .star {
          width: 32px;
          height: 32px;
          overflow: hidden;
        }

        img {
          margin-top: -32px;
          width: 32px;
          height: 64px;
          max-height: fit-content;
        }

        &.is-on .star img {
          margin-top: 0;
        }

        &.is-msg .msg {
          display: block;
        }
      }

      .msg {
        display: none;
        position: absolute;
        z-index: 10;
        top: -45px;
        width: 100px;
        left: calc(50% - 51px);

        span {
          display: inline-block;
          word-break: keep-all;
          background: $black;
          color: $white;
          padding: 10px 12px;
          @include fontStyle(12px, 140%, 400);
          border-radius: 8px;

          &:after {
            content: "";
            position: absolute;
            bottom: -6px;
            left: 45%;
            @include backgroundImage(12px, 6px, "ico-arrow-pointer.svg", 12px 6px);
            display: block;
          }
        }
      }
    }
  }

  .popup__write {
    background: $Neutral50;
    border-radius: 8px;
    padding: 15px;
    min-height: 112px;
    text-align: left;
    margin: 0 0 -10px 0;
    box-sizing: border-box;

    strong {
      @include fontStyle(13px, 140%, 700);
      color: $Neutral400;
    }

    span {
      @include fontStyle(11px, 140%, 400);
      color: $Neutral300;
    }
  }


  textarea {
    min-height: 85px ;
  }

  .popup__cont {
    span.bold {
        font-weight: 500;
    }
  }
}

.fixed-button{
    position: relative;
    padding: 20px 0 0;
   &.underline {
        position: relative;
      
        a {
          width: 100%;
          text-align: center;
          text-decoration: underline;
          @include fontStyle(14px, 140%, 500);
          color: $Neutral300;
        }
      }
}
  

// 메인 상세 페이지
.main.scroll-zone {
    padding-bottom: 20px !important;

  // 프로필 섹션
  .profile {
    display: flex;
    align-items: center;
    gap: 10px;
    margin:10px 0 14px;

    .photo {
      background: $Neutral150;
      width: 88px;
      height: 88px;
      border-radius: 8px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .profile-info {
      .state-tag {
        display: inline-block;
        @include fontStyle(11px, 140%, 500);
        padding: 2px 6px;
        border-radius: 4px;
        background-color: $primary400;
        color: $white;
        margin-bottom: 4px;
      }

      .prod-name {
        width: 222px;
        @include fontStyle(16px, 140%, 700);
        margin-bottom: 6px;
        @include ellipsis(1);
        color: $Neutral500;
      }

      .user-id {
        display: block;
        color: $Neutral400;
        @include fontStyle(12px, 140%, 500);
        margin-bottom: 3px;
      }

      .user-phone {
        display: block;
        color: $Neutral300;
        @include fontStyle(12px, 140%, 400);
      }
    }
  }

  // 프로세스 태그
  .process-tag {
    margin-bottom: 20px;

    a {
      display: flex;
      align-items: center;
      padding: 9px 10px;
      background-color: $Neutral50;
      border: none;
      border-radius: 8px;
      position: relative;
      height: 44px;
      box-sizing: border-box;

      &:before {
        content: "";
        width: 24px;
        height: 24px;
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        background: url(../image/chevron-right.svg) no-repeat center center;
        opacity: 0.7;
      }

      .process-name {
        position: relative;
        padding: 4px 8px 4px 28px;
        border-radius: 50px;
        color: $primary400;
        @include fontStyle(12px, 140%, 700);
        background-color: $white;
        margin-right: 10px;

        &::before {
          content: "";
          display: inline-block;
          width: 16px;
          height: 16px;
          background: url(../image/truck-01.svg) no-repeat center center;
          position: absolute;
          left: 8px;
          top: 4px;
        }
      }

      .prod {
        @include fontStyle(14px, 140%, 400);
        color: $Neutral500;
      }

      .price {
        em {
          font-style: normal;
        }

        &:before {
          content: "";
          display: inline-block;
          width: 2px;
          height: 2px;
          border-radius: 50%;
          background-color: $Neutral500;
          vertical-align: middle;
          margin: 0 4px;
        }
      }
    }
  }

  // 상세 프로세스
  .detail__process {
    ul {
      border-top: 1px solid $Neutral100;
      border-bottom: 1px solid $Neutral100;

      li {
        height: 73px;
        box-sizing: border-box;
        display: flex;
        align-items: center;

        &:first-child .icon:before {
          display: none;
        }

        .icon {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          text-align: center;
          padding: 8px;
          box-sizing: border-box;

          &:before {
            content: "";
            width: 2px;
            height: 26px;
            display: inline-block;
            position: absolute;
            top: -29.5px;
            left: 50%;
            transform: translateX(-50%);
            background: url("../image/ing_line.svg");
          }
        }

        .btn-check {
          padding: 5px 12px;
          @include fontStyle(13px, 140%, 700);
          text-align: center;
          height: 28px;
          box-sizing: border-box;
          border: 1px solid $Neutral200;
          position: absolute;
          top: 21px;
          right: 0;
          border-radius: 50px;
          color: $Neutral300;

          &.red {
            color: $danger;
            border-color: $danger;
          }
        }

        .process-info {
          padding: 1.5px 0;
          margin-left: 8px;
          display: flex;
          flex-direction: column;
          justify-content: center;

          p.process-name {
            @include fontStyle(14px, 140%, 700);
            color: $danger;
          }

          p.date-time {
            @include fontStyle(12px, 140%, 400);
            color: $Neutral300;
          }
        }

        // 진행중 상태
        &.ing {
          .icon {
            border: 1px solid $primary400;
            position: relative;
          }

          .btn-check {
            color: $danger;
            border-color: $danger;
          }

          // 각 상태별 아이콘
          &.prod-ready .icon {
            background: url(/assets/image/shopping-bag-01.svg) no-repeat center center $primary400;
          }

          &.release .icon {
            background: url(/assets/image/release_ing.svg) no-repeat center center $primary400;
          }

          &.add-request .icon {
            background: url(/assets/image/add-request2_ing.svg) no-repeat center center $primary400;
          }

          &.add-fail .icon {
            background: url(/assets/image/add-fail_ing.svg) no-repeat center center $primary400;
          }

          &.add-complt .icon {
            background: url(/assets/image/add-complt_ing.svg) no-repeat center center $primary400;
          }

          &.refund-request .icon {
            background: url(/assets/image/refund-request_ing.svg) no-repeat center center $primary400;
          }

          &.pay-complt .icon {
            background: url(/assets/image/credit-card-check.svg) no-repeat center center $primary400;
          }
        }

        // 완료 상태
        &.done {
          .icon {
            border: 1px solid $primary400;
            position: relative;
          }

          .process-info p.process-name {
            color: $Neutral300;
            font-weight: 400;
          }

          // 각 상태별 아이콘
          &.pay-complt .icon {
            background: url(/assets/image/credit-card-red.svg) no-repeat center center $white;
          }

          &.prod-ready .icon {
            background: url(/assets/image/shopping-bag-01-done.svg) no-repeat center center $white;
          }

          &.release .icon {
            background: url(/assets/image/release_done.svg) no-repeat center center $white;
          }

          &.add-request .icon {
            background: url(/assets/image/add-request_done.svg) no-repeat center center $white;
          }

          &.add-fail .icon {
            background: url(/assets/image/add-fail_done.svg) no-repeat center center $white;
          }

          &.add-complt .icon {
            background: url(/assets/image/add-complt_done.svg) no-repeat center center $white;
          }

          &.refund-request .icon {
            background: url(/assets/image/refund-request_done.svg) no-repeat center center $white;
          }
        }

        // 특별한 패딩이 필요한 경우
        &.pay-complt.ing .btn-check,
        &.refund-request.ing .btn-check {
          top: 27px;
        }
      }

      &.p15 {
        li {
          position: relative;
          align-items: center;

          &:first-child {
            padding: 20px 0 15px;
          }

          &:last-child {
            padding: 15px 0 20px;
          }
        }
      }
    }

    .expand {
      padding: 8px 0 16px;
      @include fontStyle(13px, 140%, 700);
      color: $Neutral300;
      display: flex;
      align-items: center;
      justify-content: center;

      &::after {
        content: "";
        display: inline-block;
        width: 14px;
        height: 14px;
        background: url(../image/chevron-gray-down.svg) no-repeat center center;
        margin-left: 4px;
      }

      &.up::after {
        background: url(../image/chevron-gray-up.svg) no-repeat center center;
      }
    }
  }

  // 상세 입력 영역
  .detail-input-area {
    .input-wrap {
      height: auto;
      margin-bottom: 24px;

      &.last {
        margin-bottom: 20px;
      }

      .item__title {
        margin-left: 4px;
        margin-bottom: 6px;
        @include fontStyle(14px, 140%, 700);
        color: $Neutral500;
      }

      .item__input {
        display: flex;
        align-items: center;
        padding: 9px 10px;
        background-color: $white;
        border: 1px solid $Neutral150;
        border-radius: 8px;
        position: relative;

        a {
          @include fontStyle(14px, 140%, 500);
          padding: 3px 0 3.5px 20px;
          width: 100%;
          height: 44px;
          @include backgroundImage(100%, 100%, "ico-plus.svg");
          background-position: left center;
          background-size: 18px;
          color: $Neutral300;
        }

        &.file {
          padding: 10px 20px;
          margin-top: 8px;
          background-color: $white;
          border: 1px solid $Neutral150;

          .file-box {
            display: flex;
            align-items: center;
            gap: 20px;

            .icon {
              width: 36px;
              height: 36px;
              box-sizing: border-box;
              text-align: center;
              background-color: $Neutral50;
              border-radius: 50%;
              padding: 8px 0;
              display: inline-block;
            }

            .btn-delete {
              padding: 5px 0;
              @include fontStyle(13px, 140%, 700);
              text-align: center;
              font-weight: 700;
              font-size: 13px;
              line-height: 18.2px;
              text-align: center;
              width: 47px;
              height: 28px;
              box-sizing: border-box;
              border: 1px solid $Neutral200;
              position: absolute;
              top: 23px;
              right: 20px;
              letter-spacing: -0.26px;
              border-radius: 50px;
              background: none;
            }

            p {
              color: $Neutral300;
              @include fontStyle(12px, 140%, 400);

              &:first-child {
                color: $Neutral500;
                @include fontStyle(14px, 140%, 500);
              }

              &.file-name {
                width: 163px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }

          a.btn-download {
            padding: 0;
            background: none;
            display: inline-block;
            width: 36px;
            height: 36px;
          }
        }

        &.ta {
          padding: 0;
          border: none;

          textarea {
            border-bottom: none;
            padding: 12px;
            height: 84px;
            border: 1px solid $Neutral150;
            border-radius: 8px;
            width: 100%;
            box-sizing: border-box;
            background-color: $white;
            color: $Neutral500;

            &::placeholder {
              color: $Neutral300;
            }

            &:focus {
              border-color: $info;
            }

            // 스크롤바 스타일
            &::-webkit-scrollbar {
              width: 4px;
            }

            &::-webkit-scrollbar-thumb {
              background-color: $Neutral200;
              background-clip: padding-box;
              border-top: 4px solid transparent;
              border-bottom: 4px solid transparent;
              border-radius: 20%;
            }
          }

          &.error textarea {
            border-color: $danger;
          }
        }
      }

      .count-box {
        text-align: right;
        @include fontStyle(11px, 140%, 400);
        color: $Neutral300;
        margin: 4px 4px 0 0;

        .count {
          color: $Neutral500;

          &.blue {
            color: $info;
          }
        }
      }
    }
  }

  // 제목
  strong.title {
    display: inline-block;
    @include fontStyle(18px, 140%, 700);
    margin-bottom: 20px;
    letter-spacing: -0.26px;

    .price {
      color: $danger;

      em {
        font-style: normal;
      }
    }
  }
}

// 팝업 상세 입력
.pop__detail.is-on.input {
  &.add .popup__cont textarea {
    margin-top: 16px;
    height: 46px;
    line-height: 1.2;
    vertical-align: middle;
  }

  &.error .popup__cont textarea {
    border: 1px solid $danger;

    &::placeholder {
      color: $danger;
    }
  }
}

// 기타 컴포넌트
.detail-input-area {
  margin-top: 4px;
}

