@use "../main" as *;

//축산물 담보 대출
.content.new.has-footer {
    margin-bottom: 0;
  .main.scroll-zone {
    &.wide {
      padding-bottom: 20px;
      .banner-cont {
        padding: 20px 0;
        background-color: $primary0;
        text-align: center;
        p {
          @include fontStyle(13px, 140%, 500);
          color: $primary700;
          margin-bottom: 4px;

          &.phone-icon {
            display: inline-block;
            width: 16px;
            height: 16px;
            padding: 1px;
            box-sizing: border-ㄴbox;
 
            img {
              width: 100%;
              height: 100%;
            }
          }
        }

        strong {
          @include fontStyle(16px, 140%, 700);
          color: $primary900;
        }
      }
      .guide-cont {
        padding: 40px 0;
   
        .ani-box-2 {
          opacity: 0;
          &.active {
            opacity: 1;
            transition: 0.2s;

            .ani-item {
              &:nth-child(1) {
                animation-delay: 0.2s;
              }
              &:nth-child(2) {
                animation-delay: 0.4s;
              }
              &:nth-child(3) {
                animation-delay: 0.6s;
              }
              &:nth-child(4) {
                animation-delay: 0.8s;
              }
              &:nth-child(5) {
                animation-delay: 1s;
              }
              &:nth-child(6) {
                animation-delay: 1.2s;
              }
              &:nth-child(7) {
                animation-delay: 1.4s;
              }
              &:nth-child(8) {
                animation-delay: 1.6s;
              }
              &:nth-child(9) {
                animation-delay: 1.8s;
              }
              &:nth-child(10) {
                animation-delay: 2s;
              }
            }
          }
        }

        .title-box {
          text-align: center;
          margin-bottom: 0;

          .title {
            margin-bottom: 8px;
            line-height: 28.8px;
            color: $Neutral500;

            .emp {
              color: $secondary500;
            }
          }

          .cont-text {
            color: $Neutral400;
            line-height: 19.6px;
          }

          .sub-text {
            color: $Neutral300;
            line-height: 18.2px;
          }
        }

        .lottie {
          position: relative;
          width: 172px;
          height: 172px;
          margin: 0 auto 12px;

          canvas {
            width: 172px;
            height: 172px;
          }
        }

        .card {
          &-item {
            width: 280px;
            margin: 0 auto;
            background-color: $secondary0;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
            box-sizing: border-box;
            padding: 12px 20px;
            border-radius: 8px;
            margin-bottom: 12px;

            &:last-child {
              margin-bottom: 0;
            }

            .card {
              &-title {
                @include fontStyle(11px, 15.4px, 700);
                color: $secondary900;
                margin-bottom: 2px;

                &.bold-14 {
                  @include fontStyle(14px, 19.6px, 700);
                }
              }

              &-cont {
                line-height: 140%;
                &.medium-11 {
                  @include fontStyle(11px, 15.4px, 500);
                }

                .card-sub {
                  @include fontStyle(12px, 16.8px, 400);
                  color: $Neutral400;
                }

                .noti.gray {
                  display: inline-block;
                  margin-top: 2px;
                  @include fontStyle(11px, 140%, 500);
                  color: $Neutral300;
                }
              }
            }
          }
        }

        //신청조건을 확인해주세요!
        &.yellow {
          background: #fff7e4;
          .title {
            margin-bottom: 20px;

            .emp {
              color: $primary500;
            }
          }
          .lottie {
            width: 183px;
            height: 112px;
            margin: 0 auto 20px;
          }

          .card-item {
            background-color: #fff;
          }

          .cont-item {
            display: block;
            @include fontStyle(14px, 19.6px, 500);
          }
        //   RRMH-2741 대부담보 장점 영역 추가
          &.advantage {
            .title {
                @include fontStyle(14px, 140%, 400);
                color: $black;
                strong{
                    color: $black;
                }
            }
            .card-item {
              background-color: #fff;
              .card-title {
                margin-bottom: 0;
                text-align: center;
                font-size: 12px;
              }
              .card-cont {
                line-height: 0;
                text-align: center;
                .noti.gray {
                    font-size: 9px;
                    margin-top: 0;
              }
            }
          }
        }
        // RRMH-2741 대부담보 장점 영역 추가
    }

        //진행절차를 확인해 주세요
        &.blue {
          background: #f1f7fb;
          padding-left: 0 !important;
          padding-right: 0 !important;
          .title-box {
            margin-bottom: 24px;
          }
        }

        .slide-box {
          height: 201px;
          overflow: hidden;
          border-bottom: 1px solid $Neutral100;
          .swiper-slide {
            width: 120px !important;
            box-shadow: 2px 2px 6px 0px #0000001f;
            animation: slide 20s linear infinite;
            img {
              width: 120px;
            }
          }
        }

        @keyframes slide {
          0% {
            transform: translateX(0);
          }
          100% {
            transform: translateX(-840px);
          }
        }
        .step {
          &-box {
            width: 280px;
            margin: 28px auto 0;
          }

          &-item {
            width: 100%;
            position: relative;
            padding: 12px;
            border-radius: 8px;
            background-color: #fff;
            box-shadow: 0px 2px 4px 0px #00000014;
            display: inline-flex;
            align-items: center;
            gap: 12px;
            margin-bottom: 32px;

            &:last-child {
              margin-bottom: 0;

              &:after {
                display: none;
              }
            }

            &:after {
              content: "";
              position: absolute;
              bottom: -24px;
              left: 50%;
              transform: translateX(-50%);
              @include backgroundImage(16px, 16px, "chevron-down-double.svg");
            }

            .number {
              width: 20px;
              height: 20px;
              padding: 1.5px 7px;
              border-radius: 50%;
              background: #fff7e4;
              @include fontStyle(12px, 16.8px, 700);
              color: #f9a825;
            }

            .title-cont {
              .title {
                @include fontStyle(14px, 19.6px, 700);
                color: $secondary900;
              }
              .sub {
                @include fontStyle(12px, 16.8px, 400);
                color: $Neutral300;
              }
            }
          }
        }

        .animate__animated.animate__fadeInUp {
          opacity: 1;
          animation-delay: 0.5s;
        }
      }

      .accordion {
        padding: 20px;
        .gray-box {
          background-color: $Neutral0;

          .lists {
            &.info {
              li {
                display: block;
                margin-bottom: 12px;
                p {
                  width: 100%;
                  @include fontStyle(12px, 140%, 400);
                  display: flex;
                  align-items: center;
                  height: 22px;
                }

                span {
                  width: 100%;
                  display: block;
                  .gray-text {
                    display: inline;
                    color: $Neutral400;
                  }
                  .noti.gray {
                    display: inline-block;
                    @include fontStyle(13px, 140%, 500);
                    color: $Neutral300;
                  }
                }

                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }

          .notice-title {
            color: $Neutral500;
            margin-bottom: 12px;
          }

          .list-title {
            @include fontStyle(12px, 16.8px, 700);
            color: $Neutral400;
            margin-bottom: 4px;
          }

          .notice-list {
            li {
              position: relative;
              @include fontStyle(12px, 16.8px, 400);
              color: $Neutral300;
              margin-bottom: 4px;
              padding-left: 8px;

              &:before {
                content: "-";
                position: absolute;
                top: 0;
                left: 1px;
              }

              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }

        .tag__item {
          margin: 10px 0 0 0;
          .input-wrap {
            height: 40px;
            &.movement {
              @include fontStyle(14px, 19.6px, 500);
              color: $Neutral500;
              margin-bottom: 8px;

              a {
                display: flex;
                align-items: center;
                height: 40px;
                padding: 10px 12px;

                &:after {
                  width: 16px;
                  height: 16px;
                  right: 12px;
                  background-size: 16px 16px;
                }
              }
            }
          }
          &:nth-child(2) {
            margin-top: 0;
            .movement {
              margin-bottom: 0;
            }
          }
        }
      }

      .info-box {
        margin: 24px 4px 12px;

        .info-item {
          margin-bottom: 12px;

          .info-title {
            margin-bottom: 2px;
          }
          .phone {
            color: $Neutral400;
          }
          .time {
            color: $Neutral300;
          }

          &:nth-child(2) {
            margin-bottom: 13px;
          }
        }
        .btn {
          height: 28px;
          box-sizing: border-box;
          @include fontStyle(14px, 19.6px, 700);
        }
      }
    }
  }
  .footer {
    margin-bottom: 88px;
  }
}



.fixed-button {
  position: fixed;
  bottom: calc(env(safe-area-inset-bottom, 0px));
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 100%; /* 좌우 여백 확보 */
  max-width: 500px; /* 필요시 */
}
