@use "../main" as *;

.cont-box {
  text-align: left;
  margin-bottom: 20px;
  .title {
    padding-top: 32px;
    line-height: 25.2px;
    color: $Neutral400;

    strong {
      color: $primary900;
    }
  }
}

.input-box {
  .tag__item {
    margin-bottom: 20px;

    .option-list {
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 44px;
        box-sizing: border-box;
        color: $Neutral300;

        //클릭했을 때 스타일
        &.active {
          border-color: $primary400;
          color: $primary500;
          font-weight: 700;
        }
      }
    }

    input {
      height: 44px;
      padding: 12px 12px;
      box-sizing: border-box;
    }

    .input-wrap {
      &.state-action {
        .expand-box {
          // width: 320px;
          box-sizing: border-box;
          max-height: 220px;
          overflow-y: scroll !important;
          &.typing {
            max-height: 220px;
          }

          a {
            width: 100%;
            height: 44px;
            box-sizing: border-box;
            span {
              display: inline-block;
              width: 100%;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }

        &.is-on {
          .btn-search {
            img {
              content: "";
            }
          }
        }
      }

      .input--txt {
        opacity: 0;

        &.active {
          opacity: 1;
        }
      }
    }

    .input-desc {
      display: flex;
      align-items: center;
      margin-left: 4px;
      padding-left: 15.5px;
      height: 18px;
      box-sizing: border-box;
      &:before {
        left: 0 !important;
        box-sizing: border-box;
        height: 13px;
        background-size: cover;
        background-position: center;
      }
    }
    .select-box {
      color: $Neutral500;

      &.weight-500,
      &.selected {
        font-weight: 500;
      }

      &:after {
        width: 24px;
        height: 24px;
        background-size: 24px 24px;
        right: 12px;
      }
    }
  }
}
.main {
  .tag__item {
    &.agree {
      margin-top: 20px;
    }
  }
}

.agree-box {
  .agree-detail {
    li {
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0;
      }

      .checkbox input {
        &[type="checkbox"]:checked {
          + label {
            span {
              color: $Neutral300;
            }
          }
        }
      }

      &:after {
        display: none;
      }
    }
  }
}

// 1:1 문의 배너 0509
.inquery-banner {
  width: 100%;
  height: 64px;
  background-color: $secondary0;
  margin-top: -8px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-sizing: border-box;

  a {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 13px 13px 14px 20px;
    overflow: hidden;

    .sub-text {
      @include fontStyle(12px, 140%, 500);
      color: $secondary800;
    }
    .title {
      @include fontStyle(14px, 140%, 700);
      color: $secondary900;
    }

    .pig-image {
      display: inline-block;
      position: absolute;
      top: 7.45px;
      right: 9.45px;
      width: 76px;
      height: 73.33px;

      &:before {
        content:'';
        position: absolute;
        display: inline-block;
        top: 10.83px;
        left:-14.76px;
        @include backgroundImage(24px, 24px, 'message-question-circle.png');
        transform: rotate(-5.401deg);
        z-index: 2;
      }
    }
  }

}

.button-box {
  display: flex;
  align-items: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 500px;
  bottom: 0;
  gap: 8px;
  padding: 20px;

  .btn {
    height: 48px;
    box-sizing: border-box;
    line-height: 22.4px;
    @include letterSpacing(16px);
  }
}
