// 디자인컴포넌트에 있는 이름으로 변수명

// primary
$primary900: #420d0e;
$primary800: #581213;
$primary700: #841a1c;
$primary600: #b12326;
$primary500: #dd2c2f;
$primary400: #e45659;
$primary300: #eb8082;
$primary200: #f1abac;
$primary100: #f8d5d5;
$primary50: #ffebed;
$primary0: #fff5f6;

// secondary

$secondary900: #3f1f08;
$secondary800: #64320d;
$secondary700: #964a14;
$secondary600: #c8631a;
$secondary500: #fa7c21;
$secondary400: #fb964d;
$secondary300: #fcb07a;
$secondary200: #fdcba6;
$secondary100: #fee5d3;
$secondary50: #fff2e9;
$secondary0: #fff9f4;

//blue
$blue900: #082056;
$blue800: #10347A;
$blue700: #0B46AD;
$blue500: #2D7FF9;
$blue400: #4d95fb;
$blue100: #E6EFF5;
$blue50: #F1F7FB;

//purple
$purple900: #26006A;
$purple600: #734AB9;
$purple100: #E2D1FC;
$purple50: #F4EEFF;

// Neutral

$black: #000;
$Neutral500: #333;
$Neutral400: #575757;
$Neutral300: #888;
$Neutral200: #cacaca;
$Neutral150: #e8e8e8;
$Neutral100: #eee;
$Neutral50: #f5f5f5;
$Neutral0: #fafafa;
$white: #fff;

// System

$danger: #dd2c2f;
$warning: #f6ca2d;
$success: #33bc51;
$info: #4263eb;
